.content {
    padding: 1px;
    width: 32rem;
    height: 61rem;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #97901a;
    /* border-radius: 0.5em; */
    /* margin-bottom: 1.5em; */
    /* height: 3em; */
    box-shadow: inset 19px -19px 38px #dad466,
              inset -19px 19px 38px #a7a244;
              background-color: #E7EDEE;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23D0982A'/%3E%3Cstop offset='1' stop-color='%23E7EDEE'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23dcc38c'/%3E%3Cstop offset='1' stop-color='%23E7EDEE'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    /* background-color: var( --colorBackgroundAll);
  background-image: url("http://ncuxolog.ru/image/2015/09/Volshebnyj-mir-mandaly.jpg"); */
  /* background-attachment: fixed;
  background-size: cover; */
  }
  .content::-webkit-scrollbar {
    width: 1px;
  }
  .content h1 {
    margin-left: 10px;
    color: var( --colorText);
  }
  @media (max-width: 575.98px) { 
    .content {  
    height: 48rem;
    width: 32rem
  } 
}
  .row {
    font-family: "Cassandra";
	font-size: 1rem;
	font-weight: normal;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .col {
    /* width: calc(50% - 20px); */
    width: fit-content;
    margin: 10px;
  }
  
  .item {
    /* background-color: #ccc; */
    /* padding-bottom: 100%; */
    padding: 5px;
    position: relative;
    width: 132px;
    height: 132px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
  }
   
  .item:hover {
    cursor: pointer;
    /* transform: translate(15px, -50px); */
  }
  
  .item img {
    /* padding: 5px; */
    box-shadow: 0px 1px 1px 1px rgb(238, 240, 240);
    /* тень */
    /* border-radius: 70px !important; */
    /* border-radius: 50%; */
    /* max-width: none;
    min-width: auto;
    min-height: auto;
    height: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; 
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 2200px) {
    .col {
      font-size: 20px;
      width: calc(55% - 41px);
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  
    .item {
      /* margin-right: 0px; */
      /* width: 130px; */
      height: 130px;
      border-radius: 70px;
    }
  
    .item img {
      padding: 5px;
      /* box-shadow: 0px 1px 1px 1px rgb(69, 117, 111);  */
     
      /* max-width: 45%; */
      object-fit: cover; 
    }
   .col > p {
      /* white-space: nowrap; */
      /* padding-left: 1em; */
      font-size: 15px;
      font-weight: bold;
      position: relative;
      text-align: center;
      background-color: hsl(0, 0%, 70%);
      color	: var( --colorText);
      top: -9px;
      /* left: 2em; */
      left: 6px;
      width: 100%;
      border-radius: 0.5em;
  }
  }
  .linkTo {
    text-align: center;
    color: var( --colorText);
    width: 28rem;
    font-size: 3rem;
    background:hsl(0, 0%, 70%);
    padding: 15px 20px;
    border: 2px solid var( --colorText);
    border-radius: 8px;
    text-decoration: none;
     }
     .linkTo:hover {
        box-shadow: 0 8px 15px 0 rgba(0,0,0,0.3), 0 5px 21px 0 rgba(0,0,0,0.18);
       }
       .linkTo a {
        display: inline-block;
        text-shadow:
        -1px -1px #FFF,
        -2px -2px #FFF,
        -1px 1px #FFF,
        -2px 2px #FFF,
        1px 1px #FFF,
        2px 2px #FFF,
        1px -1px #FFF,
        2px -2px #FFF,
        -3px -3px 2px #BBB,
        -3px 3px 2px #BBB,
        3px 3px 2px #BBB,
        3px -3px 2px #BBB;
      color: rgb(27, 9, 10);
      transition: all 1s;
      cursor: pointer;
      }
      a:hover {
        color: rgb(226, 137, 21);
      }