.content {
    padding: 1px;
    width: 32rem;
    height: 64rem;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: var( --colorBackgroundAll);
  background-image: url("http://ncuxolog.ru/image/2015/09/Volshebnyj-mir-mandaly.jpg");
  background-attachment: fixed;
  background-size: cover;
  }
  .content::-webkit-scrollbar {
    width: 1px;
  }
  .content h1 {
    margin-left: 10px;
  }
  .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .col {
    /* width: calc(50% - 20px); */
    width: fit-content;
    margin: 10px;
  }
  
  .item {
    /* background-color: #ccc; */
    /* padding-bottom: 100%; */
    padding: 5px;
    position: relative;
    width: 132px;
    height: 132px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
  }
   
  .item:hover {
    cursor: pointer;
    /* transform: translate(15px, -50px); */
  }
  
  .item img {
    /* padding: 5px; */
    box-shadow: 0px 1px 1px 1px rgb(238, 240, 240);
    /* тень */
    /* border-radius: 70px !important; */
    /* border-radius: 50%; */
    /* max-width: none;
    min-width: auto;
    min-height: auto;
    height: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; 
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 2200px) {
    .col {
      font-size: 20px;
      width: calc(55% - 41px);
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  
    .item {
      /* margin-right: 0px; */
      /* width: 130px; */
      height: 130px;
      border-radius: 70px;
    }
  
    .item img {
      padding: 5px;
      /* box-shadow: 0px 1px 1px 1px rgb(69, 117, 111);  */
     
      /* max-width: 45%; */
      object-fit: cover; 
    }
   .col > p {
      /* white-space: nowrap; */
      /* padding-left: 1em; */
      font-size: 15px;
      font-weight: bold;
      position: relative;
      text-align: center;
      background-color: white;
      color			: rgb(173, 19, 19);
      top: -9px;
      /* left: 2em; */
      left: 20px;
      width: 100%;
  }
  }
  .linkTo {
    text-align: center;
    width: 28rem;
    font-size: 3rem;
    background:#eee;
    padding: 15px 20px;
    border: 2px solid #00000f;
    border-radius: 8px;
    text-decoration: none;
     }
     .linkTo:hover {
        box-shadow: 0 8px 15px 0 rgba(0,0,0,0.3), 0 5px 21px 0 rgba(0,0,0,0.18);
       }
       .linkTo a {
        display: inline-block;
        text-shadow:
        -1px -1px #FFF,
        -2px -2px #FFF,
        -1px 1px #FFF,
        -2px 2px #FFF,
        1px 1px #FFF,
        2px 2px #FFF,
        1px -1px #FFF,
        2px -2px #FFF,
        -3px -3px 2px #BBB,
        -3px 3px 2px #BBB,
        3px 3px 2px #BBB,
        3px -3px 2px #BBB;
      color: rgb(9, 19, 27);
      transition: all 1s;
      cursor: pointer;
      }
      a:hover {
        color: rgb(226, 137, 21);
      }